{% extends 'neo4j_admin/base.html' %}

{% block content %}
    <form method="POST" style="padding: 20px; border: 2px solid lightcyan; border-radius: 5px;">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {% for key, value in fields %}
            <div class="form-group mt-2">
                <label for="{{ key }}">{{ key }}</label>
                <input name="property_{{ key }}" value="{{ value }}" type="text" class="form-control" id="{{ key }}" style="max-width: 500px;">
            </div>
        {% endfor %}
        <div class="related-objects"
             style="margin: 20px; border: 2px solid floralwhite; border-radius: 5px; padding: 20px;">
            <h3>Пов'язані об'єкти</h3>
            {% for ro in related_objects %}
                <div class="form-group mt-2" style="display: flex;">
                    <div style="display: inline;">
                        <label style="display: block;" for="related_object_relationship-{{ ro.id }}">Відношення до
                            об'єкту</label>
                        <input class="form-control" id="related_object_relationship-{{ ro.id }}"
                               name="related_object_relationship-{{ ro.id }}" value="{{ ro.relationship }}"
                               type="text">
                    </div>
                    <div style="display: inline; margin-left: 3em;">
                        <label style="display: block;" for="related_object_name-{{ ro.id }}">Назва</label>
                        <input class="form-control" id="related_object_name-{{ ro.id }}"
                               name="related_object_name-{{ ro.id }}" type="text" value="{{ ro.m.name }}">
                    </div>
                    <div style="display: inline; margin-left: 3em;">
                        <div style="display: block;">Мітки</div>
                        <div>
                            {% for l in ro.labels %}
                                {{ l }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div style="display: inline; margin-left: 3em;">
                        <div style="display: block;">ID</div>
                        <div>{{ ro.id }}</div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
{% endblock %}