{% extends 'admin/change_form.html' %}
{% load custom_tags %}

{% block field_sets %}
    {{ block.super }}
    <div class="js-inline-admin-formset inline-group" id="cells-group">
        <div class="tabular inline-related last-related">
            <fieldset class="module">
                <h2>Відносини в RDF графі</h2>
                <table>
                    <thead>
                    <tr>
                        <th class="column-subject required">Суб'єкт</th>
                        <th class="column-teacher required">Предикат</th>
                        <th class="column-teacher required">Об'єкт</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for po in predicate_objects %}
                        <tr data-rowId="{{ forloop.counter }}" class="form-row has_original dynamic-cells po-cells">
                            {#                            <input type="hidden" name="predicate_objects_predicate_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.0 }}">#}
                            {#                            <input type="hidden" name="predicate_objects_object_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.1 }}">#}
                            <td>{{ adminform.form.instance.url|slice:50 }}
                                {% if adminform.form.instance.url|length > 70 %}...{% endif %}</td>
                            <td><select name="predicate_objects_predicate_value-{{ forloop.counter }}">
                                <option value="" disabled>Виберіть предикат</option>
                                {% for pred in all_predicates %}
                                    <option value="{{ pred }}"
                                            {% if po.0|stringify == pred %}
                                            selected
                                            {% endif %}>{{ pred }}</option>
                                {% endfor %}
                            </select></td>
                            <td><input name="predicate_objects_object_value-{{ forloop.counter }}" type="text"
                                       value="{{ po.1 }}"></td>
                        </tr>
                    {% endfor %}
                    {% for sp in subject_predicates %}
                        <tr data-rowId="{{ forloop.counter }}" class="form-row has_original dynamic-cells sp-cells">
                            {#                            <input type="hidden" name="subject_predicates_subject_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.0 }}">#}
                            {#                            <input type="hidden"#}
                            {#                                   name="subject_predicates_predicate_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.1 }}">#}
                            <td style="min-width: 200px;"><input
                                    name="subject_predicates_subject_value-{{ forloop.counter }}"
                                    style="min-width: 315px;" type="text"
                                    value="{{ sp.0 }}"></td>
                            <td><select name="subject_predicates_predicate_value-{{ forloop.counter }}">
                                <option value="" disabled>Виберіть предикат</option>
                                {% for pred in all_predicates %}
                                    <option value="{{ pred }}" {% if sp.1|stringify == pred %}
                                            selected
                                    {% endif %}>{{ pred }}</option>
                                {% endfor %}
                            </select></td>

                            <td>{{ adminform.form.instance.url|slice:50 }}
                                {% if adminform.form.instance.url|length > 70 %}...{% endif %}</td>
                        </tr>
                    {% endfor %}
                    {% with predicate_objects|make_list|length|add:1 as po_max_index %}
                        <tr data-rowId="{{ po_max_index }}"
                            class="form-row has_original dynamic-cells po-cells">
                            {#                            <input type="hidden" name="subject_predicates_subject_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.0 }}">#}
                            {#                            <input type="hidden"#}
                            {#                                   name="subject_predicates_predicate_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.1 }}">#}
                            <td>{{ adminform.form.instance.url|slice:50 }}
                                {% if adminform.form.instance.url|length > 70 %}...{% endif %}</td>
                            <td><select name="predicate_objects_predicate_value-{{ po_max_index }}">
                                <option value="" disabled selected>Виберіть предикат</option>
                                {% for pred in all_predicates %}
                                    <option value="{{ pred }}">{{ pred }}</option>
                                {% endfor %}
                            </select></td>
                            <td style="min-width: 200px;"><input
                                    name="predicate_objects_object_value-{{ po_max_index }}"
                                    style="min-width: 315px;" type="text"></td>
                        </tr>
                    {% endwith %}
                    {% with subject_predicates|make_list|length|add:1 as sp_max_index %}
                        <tr data-rowId="{{ sp_max_index }}"
                            class="form-row has_original dynamic-cells sp-cells">
                            {#                            <input type="hidden" name="subject_predicates_subject_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.0 }}">#}
                            {#                            <input type="hidden"#}
                            {#                                   name="subject_predicates_predicate_original_value-{{ forloop.counter }}"#}
                            {#                                   value="{{ po.1 }}">#}

                            <td style="min-width: 200px;"><input
                                    name="subject_predicates_subject_value-{{ sp_max_index }}"
                                    style="min-width: 315px;" type="text"></td>
                            <td><select name="subject_predicates_predicate_value-{{ sp_max_index }}">
                                <option value="" disabled selected>Виберіть предикат</option>
                                {% for pred in all_predicates %}
                                    <option value="{{ pred }}">{{ pred }}</option>
                                {% endfor %}
                            </select></td>
                            <td>{{ adminform.form.instance.url|slice:50 }}
                                {% if adminform.form.instance.url|length > 70 %}...{% endif %}</td>
                        </tr>
                    {% endwith %}
                    <tr>
                        <td colspan="7" style="display: flex; justify-content: space-between">
                            <a class="add-sp" href="#">
                                Додати суб'єкт/предикат
                            </a>
                        </td>
                        <td></td>
                        <td style="text-align: right;"><a class="add-po" href="#">Додати предикат/об'єкт</a></td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <script>
        function myCloneNode(lastRow) {
            const newNode = lastRow.cloneNode(true);
            const inputs = newNode.querySelectorAll('input, select');
            const rowId = parseInt(lastRow.dataset.rowid) + 1;
            inputs.forEach((input) => {
                input.value = '';
                input.name = input.name.replace(/-\d+/, `-${rowId}`);
            })
            newNode.dataset.rowid = rowId;
            return newNode;
        }

        document.querySelector('a.add-sp').addEventListener('click', (e) => {
            e.preventDefault();
            const spSpells = document.querySelectorAll('.sp-cells');
            const lastRow = spSpells[spSpells.length - 1];
            const newRow = myCloneNode(lastRow);
            lastRow.parentNode.insertBefore(newRow, lastRow.nextSibling);
        })
        document.querySelector('a.add-po').addEventListener('click', (e) => {
            e.preventDefault();
            const poCells = document.querySelectorAll('.po-cells');
            const lastRow = poCells[poCells.length - 1];
            const newRow = myCloneNode(lastRow);
            lastRow.parentNode.insertBefore(newRow, lastRow.nextSibling);
        })
    </script>
    <script>
        const hl = document.querySelector('.historylink');
        const findRelations = hl.cloneNode(true);
        findRelations.innerHTML = 'Знайти зв\'язки';
        findRelations.style.marginRight = '10px';
        // prepend findRelations to historylink
        hl.parentNode.insertBefore(findRelations, hl);
        findRelations.addEventListener('click', (e) => {
            e.preventDefault();
            const title = document.querySelector('#id_title');
            const content = document.querySelector('#id_content');
            fetch(`/rdf/api/get_predicates/?title=${title.value}&content=${content.value}`)
                .then((response) => {
                    return response.json();
                }).then((data) => {
                // append data.title next to title node
                const titleParent = title.parentNode;
                const titleNext = title.nextSibling;
                let titlePredicates = document.querySelector('.title_predicates');
                if (!titlePredicates) {
                    titlePredicates = document.createElement('div');
                    titlePredicates.classList.add('title_predicates');
                    titleParent.insertBefore(titlePredicates, titleNext);
                    titlePredicates.style.marginLeft = '30px';
                    titlePredicates.style.marginTop = '30px';
                    titlePredicates.style.maxWidth = '500px;';
                    titlePredicates.style.paddingLeft = '300px;';
                }
                titlePredicates.innerHTML = data.title;

                // append data.content next to content node
                const content = document.querySelector('.field-content');
                const contentParent = content.parentNode;
                const contentNext = content.nextSibling;
                let contentPredicates = document.querySelector('.content_predicates');
                if (!contentPredicates) {
                    contentPredicates = document.createElement('div')
                    contentPredicates.classList.add('content_predicates');
                    contentParent.insertBefore(contentPredicates, contentNext);
                    contentPredicates.style.marginLeft = '30px';
                    contentPredicates.style.marginTop = '30px';
                    contentPredicates.style.maxWidth = '500px;';
                    contentPredicates.style.paddingLeft = '300px;';
                }
                contentPredicates.innerHTML = data.content;
            });
        })
    </script>
{% endblock %}

