{% extends "admin/base_site.html" %}
{% load i18n admin_urls static custom_tags %}
{% block content %}
    <h3>{% translate "Пов'язані трипли, які буде видалено: " %}</h3>
    <table style="overflow-x: auto; display: block; max-width: 100%;">
        <thead>
        <tr>
            <th>{% translate "Суб'єкт" %}</th>
            <th>{% translate "Предикат" %}</th>
            <th>{% translate "Об'єкт" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for triple in triples_to_delete %}
            <tr>
                <td>{{ triple.0 }}</td>
                <td>{{ triple.1 }}</td>
                <td>{{ triple.2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post" class="mt-3" action="">
        {% csrf_token %}
        <div>
            {% for itd in instances_to_delete %}
                <input type="hidden" name="instances_to_delete" value="{{ itd }}">
            {% endfor %}
            <input type="hidden" name="confirm_delete">
            <input type="submit" class="btn btn-danger" value="{% translate 'Yes, I’m sure' %}">
            <a href="#" onclick="location.href = document.referrer; return false;" class="button cancel-link">{% translate "No, take me back" %}</a>
        </div>
    </form>
{% endblock %}
